html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*,*::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: .4em .75em .3em;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  font-size: 1.125rem;
  border-width: 3px;
  border-style: solid;
  border-color: #333;
}

.btn:hover {
  background-color: #ccc;
  border-color: #000;
}

.btn-subtle {
  background-color: #ccc;
  border-color: #000;
}

.btn-subtle:hover {
  background-color: #000;
  border-color: #000;
}

.btn-ghost {
  background-color: #000;
  border-color: #000;
  color: #000;
  border-style: solid;
}

.btn-ghost:hover {
  background-color: #000;
  color: #fff
}
