html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

div ul{
  display: block;
  list-style-type: none;
  text-decoration: none;
}

div a{
  display: inline-block;
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

.btn:hover {
  background-color: #000;

}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  color: #000;
  border-width: 3px;
  border-style: solid;
  border-color: #000;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
  border-radius: 8px;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  margin-bottom: .5em;
}

.btn-warning:hover {
  background-color: #933;
}
